#app {
    height: 100vh;
    text-align: center;
    position: relative;
}

.side-bar {
    position: absolute;
    background-color: red;
    display: inline-block;
    width: 40px;
    height: 100%;
    float: left;
}

.text-letter {
    background-color: grey;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.side-bottom {
    position: absolute;
    bottom: 0;
}

.main {
    position: absolute;

    background-color: wheat;
    display: block;
    width: calc(100% - 40px);
    height: 100%;
    right: 0;
}